/* workout status colors, XXX don't need these any more? */
.completed {
    color: black;
}

.due_today {
    color: orange;
}

.tomorrow {
    color: lightblue;
}

.due_later {
    color: black;
}

.any_time {
    color: orange;
}

.empty {
    color: red;
}

.overdue {
    color: red;
}

.partial {
    color: red;
}

/* exercise page */
#better_record {
    color: green;
}

#worse_record {
    color: red;
}

#same_record {
    color: blue;
}